# Activity 03.01 | COVID19 impact on airline traffic

Your task is to report on the consequences of the 2020 COVID19 pandemic, especially how it affected airlines. We will use real data (unchanged) from EUROSTAT, especially:

* https://ec.europa.eu/eurostat/databrowser/view/ttr00016/default/table?lang=en

There are multiple problems with this dataset.

* Column names contain extra whitespace.
* Not all supposedly numeric columns are numeric.
* There are missing values.
* There is a messed up column at the beginning, containing values like "M,PAS,TOT,TOTAL,PAS_CRD,DE" - We only need the "DE" part (which is the country code)

The filename is "TSV", so a tab separator should work.

Apply a fixes to the input data:

* Inspect the DataFrame columns and remove trailing whitespace.
* Inspect the DataFrame and find the columns and values that does not contain numeric data.
* Use a custom converter to remove non-digits from column values.
* Use a custom converter to fix the first column values to extract only the last two characters (country code).
* Unify the type of all numeric columns to float64

### Bonus task

There are missing values in the data, supposedly the countries have not reported the numbers yet. But some countries have.

* Find all countries, that have reported the full data already.
* Calculate basic percentage changes (e.g. relative to the previous month) for those countries and store these values (maybe in a separate DataFrame).
* Find the average monthly change across the countries.
* Use this change to extrapolate the number for all missing fields.

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
!head estat_ttr00016_filtered.tsv

In [3]:
def digits_only(v):
    match = re.search("\d+", v)
    if match:
        return float(match.group())
    return np.nan

In [4]:
converters = {
    "freq,unit,schedule,tra_cov,tra_meas,geo\TIME_PERIOD": lambda v: v[-2:],
    "2019-10 ": digits_only,
    "2019-11 ": digits_only,
    "2019-12 ": digits_only, 
}

In [5]:
df = pd.read_csv("estat_ttr00016_filtered.tsv", sep="\t",
                 converters=converters,
                 na_values=[': '])

In [6]:
df.head()

,"freq,unit,schedule,tra_cov,tra_meas,geo\TIME_PERIOD",2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04
0,AT,2285034,2349892,2871838,2978376,3038394,3314289,3504875.0,3511121.0,3306004.0,3095301.0,2591272.0,2797792.0,NaN,NaN,NaN,NaN
1,BE,2253327,2187148,2643934,3107492,3102755,3257996,3650171.0,3570657.0,3325409.0,3120567.0,2611508.0,NaN,NaN,NaN,NaN,NaN
2,BG,570956,536254,618037,678527,877009,1455157,1866085.0,1885574.0,1290977.0,717317.0,584000.0,633175.0,NaN,NaN,NaN,NaN
3,CH,3990345,3958347,4710650,4948984,4853106,5160769,5621555.0,5585170.0,5108332.0,5101639.0,3829064.0,4326367.0,4076384.0,3968157.0,1790567.0,NaN
4,CY,421821,410208,564040,864105,1128899,1293838,1434271.0,1483105.0,1323131.0,1194798.0,626571.0,516623.0,459432.0,446049.0,230760.0,NaN

In [7]:
df.columns

Index(['freq,unit,schedule,tra_cov,tra_meas,geo\TIME_PERIOD', '2019-01 ',
       '2019-02 ', '2019-03 ', '2019-04 ', '2019-05 ', '2019-06 ', '2019-07 ',
       '2019-08 ', '2019-09 ', '2019-10 ', '2019-11 ', '2019-12 ', '2020-01 ',
       '2020-02 ', '2020-03 ', '2020-04 '],
      dtype='object')

In [8]:
df.columns = df.columns.str.strip()

In [9]:
df.columns

Index(['freq,unit,schedule,tra_cov,tra_meas,geo\TIME_PERIOD', '2019-01',
       '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07',
       '2019-08', '2019-09', '2019-10', '2019-11', '2019-12', '2020-01',
       '2020-02', '2020-03', '2020-04'],
      dtype='object')

In [10]:
df = df.rename(columns={'freq,unit,schedule,tra_cov,tra_meas,geo\TIME_PERIOD': 'country_code'})

In [11]:
df.dtypes

country_code     object
2019-01           int64
2019-02           int64
2019-03           int64
2019-04           int64
2019-05           int64
2019-06           int64
2019-07         float64
2019-08         float64
2019-09         float64
2019-10         float64
2019-11         float64
2019-12         float64
2020-01         float64
2020-02         float64
2020-03         float64
2020-04         float64
dtype: object

In [12]:
df = df.rename(columns={'freq,unit,schedule,tra_cov,tra_meas,geo\TIME_PERIOD': "cc"})

In [13]:
df.head()

,country_code,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04
0,AT,2285034,2349892,2871838,2978376,3038394,3314289,3504875.0,3511121.0,3306004.0,3095301.0,2591272.0,2797792.0,NaN,NaN,NaN,NaN
1,BE,2253327,2187148,2643934,3107492,3102755,3257996,3650171.0,3570657.0,3325409.0,3120567.0,2611508.0,NaN,NaN,NaN,NaN,NaN
2,BG,570956,536254,618037,678527,877009,1455157,1866085.0,1885574.0,1290977.0,717317.0,584000.0,633175.0,NaN,NaN,NaN,NaN
3,CH,3990345,3958347,4710650,4948984,4853106,5160769,5621555.0,5585170.0,5108332.0,5101639.0,3829064.0,4326367.0,4076384.0,3968157.0,1790567.0,NaN
4,CY,421821,410208,564040,864105,1128899,1293838,1434271.0,1483105.0,1323131.0,1194798.0,626571.0,516623.0,459432.0,446049.0,230760.0,NaN

In [14]:
type(df["2019-07"][32])

numpy.float64

In [15]:
df["2019-10"]

0      3095301.0
1      3120567.0
2       717317.0
3      5101639.0
4      1194798.0
5      1643154.0
6     21573621.0
7      3168106.0
8       315559.0
9      4947216.0
10    20521364.0
11           NaN
12           NaN
13           NaN
14     2017173.0
15    14663705.0
16      953021.0
17     1522375.0
18     3311286.0
19      583392.0
20    14203892.0
21      622758.0
22      403270.0
23      704406.0
24      189806.0
25      212746.0
26      704147.0
27     7354994.0
28     3631249.0
29     3349969.0
30     5047546.0
31     1895219.0
32           NaN
33           NaN
34       99229.0
35      196702.0
36    24245929.0
Name: 2019-10, dtype: float64

In [16]:
type(df["2019-10"][32])

numpy.float64

In [17]:
df.dtypes

country_code     object
2019-01           int64
2019-02           int64
2019-03           int64
2019-04           int64
2019-05           int64
2019-06           int64
2019-07         float64
2019-08         float64
2019-09         float64
2019-10         float64
2019-11         float64
2019-12         float64
2020-01         float64
2020-02         float64
2020-03         float64
2020-04         float64
dtype: object

In [18]:
# df.iloc[:, 1:] = df.iloc[:, 1:].astype(float)

In [19]:
df.iloc[:, 1:] = df.iloc[:, 1:].astype(float)

In [20]:
df.dtypes

country_code     object
2019-01         float64
2019-02         float64
2019-03         float64
2019-04         float64
2019-05         float64
2019-06         float64
2019-07         float64
2019-08         float64
2019-09         float64
2019-10         float64
2019-11         float64
2019-12         float64
2020-01         float64
2020-02         float64
2020-03         float64
2020-04         float64
dtype: object

In [21]:
df.head()

,country_code,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04
0,AT,2285034.0,2349892.0,2871838.0,2978376.0,3038394.0,3314289.0,3504875.0,3511121.0,3306004.0,3095301.0,2591272.0,2797792.0,NaN,NaN,NaN,NaN
1,BE,2253327.0,2187148.0,2643934.0,3107492.0,3102755.0,3257996.0,3650171.0,3570657.0,3325409.0,3120567.0,2611508.0,NaN,NaN,NaN,NaN,NaN
2,BG,570956.0,536254.0,618037.0,678527.0,877009.0,1455157.0,1866085.0,1885574.0,1290977.0,717317.0,584000.0,633175.0,NaN,NaN,NaN,NaN
3,CH,3990345.0,3958347.0,4710650.0,4948984.0,4853106.0,5160769.0,5621555.0,5585170.0,5108332.0,5101639.0,3829064.0,4326367.0,4076384.0,3968157.0,1790567.0,NaN
4,CY,421821.0,410208.0,564040.0,864105.0,1128899.0,1293838.0,1434271.0,1483105.0,1323131.0,1194798.0,626571.0,516623.0,459432.0,446049.0,230760.0,NaN

## Bonus task

Take the diff along the rows and drop all rows with NA values.

In [22]:
frdiff = df.iloc[:, 1:].diff(axis=1).iloc[:, 1:].dropna()

In [23]:
frdiff

,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04
6,-211570.0,3226810.0,1998247.0,1062363.0,1341859.0,1244789.0,-82998.0,-581378.0,-601834.0,-5870446.0,-362718.0,-1270511.0,-409996.0,-7156015.0,-6238132.0
14,-30611.0,226860.0,24735.0,122339.0,107304.0,31528.0,-66885.0,-79228.0,-10869.0,-347026.0,288423.0,-223411.0,-102441.0,-824505.0,-786075.0
16,-3948.0,83461.0,396684.0,345424.0,416727.0,403347.0,-31319.0,-432523.0,-451487.0,-638514.0,-40346.0,-42985.0,-6439.0,-105248.0,-115011.0
19,-24498.0,80286.0,-114368.0,110956.0,206552.0,60476.0,-1505.0,-200470.0,-92538.0,-121784.0,12334.0,-78568.0,19466.0,-183465.0,-226017.0
26,-6461.0,117978.0,175646.0,22320.0,47681.0,77041.0,24172.0,-61380.0,-58866.0,-210420.0,-15833.0,-59315.0,3550.0,-252545.0,-167229.0
34,2033.0,28236.0,24589.0,11826.0,18831.0,18123.0,4823.0,-39614.0,-72752.0,-13443.0,-273.0,-10041.0,4304.0,-43682.0,-35904.0
35,-3859.0,22427.0,19088.0,16483.0,91416.0,129151.0,-7035.0,-107463.0,-114821.0,-40059.0,13320.0,-20630.0,-6318.0,-97239.0,-44401.0

Nice, but we want the PCT change.

In [24]:
frpct = df.dropna().iloc[:, 1:].pct_change(axis=1).iloc[:, 1:].dropna()

In [25]:
frpct

,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04
6,-0.014923,0.231051,0.116227,0.055358,0.066254,0.057642,-0.003634,-0.025547,-0.027140,-0.272112,-0.023098,-0.082821,-0.029140,-0.523868,-0.959132
14,-0.018092,0.136548,0.013099,0.063952,0.052721,0.014715,-0.030764,-0.037597,-0.005359,-0.172036,0.172693,-0.114068,-0.059038,-0.504989,-0.972609
16,-0.017419,0.374757,1.295642,0.491461,0.397536,0.275322,-0.016763,-0.235447,-0.321456,-0.669989,-0.128283,-0.156787,-0.027853,-0.468316,-0.962524
19,-0.043864,0.150347,-0.186179,0.221947,0.338124,0.073983,-0.001714,-0.228743,-0.136905,-0.208752,0.026720,-0.165776,0.049234,-0.442255,-0.976843
26,-0.017652,0.328122,0.367820,0.034171,0.070586,0.106531,0.030207,-0.074455,-0.077149,-0.298830,-0.032068,-0.124117,0.008481,-0.598265,-0.986113
34,0.019712,0.268487,0.184321,0.074852,0.110889,0.096067,0.023325,-0.187216,-0.423023,-0.135475,-0.003182,-0.117421,0.057028,-0.547558,-0.994736
35,-0.025503,0.152093,0.112360,0.087225,0.444946,0.435042,-0.016513,-0.256484,-0.368580,-0.203653,0.085034,-0.121379,-0.042308,-0.679922,-0.969962

These are the average changes per month (from the complete rows only).

In [26]:
change_map = frpct.mean().to_dict()

In [27]:
change_map

{'2019-02': -0.016820030745291623,
 '2019-03': 0.2344866642505022,
 '2019-04': 0.2718984852118431,
 '2019-05': 0.14699508874667935,
 '2019-06': 0.21157947724646045,
 '2019-07': 0.15132889347208978,
 '2019-08': -0.0022651750107528673,
 '2019-09': -0.14935552054154685,
 '2019-10': -0.19423024938336667,
 '2019-11': -0.28012092110466763,
 '2019-12': 0.013973511296268908,
 '2020-01': -0.126052848764071,
 '2020-02': -0.006228051419713244,
 '2020-03': -0.5378819315588782,
 '2020-04': -0.9745598116833845}

In [28]:
df

,country_code,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04
0,AT,2285034.0,2349892.0,2871838.0,2978376.0,3038394.0,3314289.0,3504875.0,3511121.0,3306004.0,3095301.0,2591272.0,2797792.0,NaN,NaN,NaN,NaN
1,BE,2253327.0,2187148.0,2643934.0,3107492.0,3102755.0,3257996.0,3650171.0,3570657.0,3325409.0,3120567.0,2611508.0,NaN,NaN,NaN,NaN,NaN
2,BG,570956.0,536254.0,618037.0,678527.0,877009.0,1455157.0,1866085.0,1885574.0,1290977.0,717317.0,584000.0,633175.0,NaN,NaN,NaN,NaN
3,CH,3990345.0,3958347.0,4710650.0,4948984.0,4853106.0,5160769.0,5621555.0,5585170.0,5108332.0,5101639.0,3829064.0,4326367.0,4076384.0,3968157.0,1790567.0,NaN
4,CY,421821.0,410208.0,564040.0,864105.0,1128899.0,1293838.0,1434271.0,1483105.0,1323131.0,1194798.0,626571.0,516623.0,459432.0,446049.0,230760.0,NaN
5,CZ,1015592.0,1011909.0,1269379.0,1434249.0,1540267.0,1925827.0,2171017.0,2196935.0,1993067.0,1643154.0,1282563.0,1348737.0,1088657.0,1037299.0,444914.0,NaN
6,DE,14177333.0,13965763.0,17192573.0,19190820.0,20253183.0,21595042.0,22839831.0,22756833.0,22175455.0,21573621.0,15703175.0,15340457.0,14069946.0,13659950.0,6503935.0,265803.0
7,DK,2233010.0,2260089.0,2652203.0,2884516.0,3075631.0,3401375.0,3640974.0,3416166.0,3273384.0,3168106.0,2443406.0,2331267.0,2247098.0,2274056.0,978517.0,NaN
8,EE,204783.0,194398.0,230699.0,265748.0,300446.0,316964.0,318394.0,325152.0,310000.0,315559.0,241243.0,234617.0,NaN,NaN,NaN,NaN
9,EL,1652468.0,1567624.0,1957347.0,3134121.0,5176922.0,7632190.0,8993720.0,9284850.0,7690464.0,4947216.0,2056288.0,1995317.0,NaN,NaN,NaN,NaN
10,ES,13481499.0,13178489.0,16164025.0,19182226.0,20503083.0,22809002.0,24573047.0,24746840.0,22655739.0,20521364.0,14740700.0,14632998.0,NaN,NaN,NaN,NaN
11,07,71931200.0,69497575.0,83283144.0,94194758.0,100564112.0,111518269.0,120888852.0,121862084.0,110875158.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,20,63804763.0,61849749.0,74446654.0,84991830.0,91231555.0,101697241.0,110382563.0,111131700.0,101406971.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,28,72013393.0,69583716.0,83398917.0,94375183.0,100788894.0,111864727.0,121360714.0,122283225.0,111213297.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,FI,1692000.0,1661389.0,1888249.0,1912984.0,2035323.0,2142627.0,2174155.0,2107270.0,2028042.0,2017173.0,1670147.0,1958570.0,1735159.0,1632718.0,808213.0,22138.0
15,FR,11232264.0,10788754.0,12894631.0,14819266.0,14661980.0,15965628.0,17326395.0,17295281.0,15280351.0,14663705.0,11688488.0,12100036.0,NaN,NaN,NaN,NaN
16,HR,226655.0,222707.0,306168.0,702852.0,1048276.0,1465003.0,1868350.0,1837031.0,1404508.0,953021.0,314507.0,274161.0,231176.0,224737.0,119489.0,4478.0
17,HU,1032569.0,998417.0,1205927.0,1382213.0,1460105.0,1525779.0,1663035.0,1675544.0,1566297.0,1522375.0,1309357.0,1359132.0,1204138.0,1144820.0,508702.0,NaN
18,IE,2347603.0,2286662.0,2779886.0,3224936.0,3462571.0,3763063.0,4030976.0,4008037.0,3527592.0,3311286.0,2588600.0,2616298.0,NaN,NaN,NaN,NaN
19,IS,558501.0,534003.0,614289.0,499921.0,610877.0,817429.0,877905.0,876400.0,675930.0,583392.0,461608.0,473942.0,395374.0,414840.0,231375.0,5358.0
20,IT,9800069.0,9461722.0,11510279.0,13442198.0,14328905.0,15744491.0,17135702.0,17376844.0,15891629.0,14203892.0,10786901.0,10939234.0,NaN,NaN,NaN,NaN
21,LT,443403.0,411765.0,466939.0,540420.0,620978.0,604824.0,595440.0,621917.0,603338.0,622758.0,496501.0,476402.0,455142.0,446654.0,202850.0,NaN
22,LU,258957.0,267687.0,320896.0,384281.0,393188.0,407702.0,424944.0,420265.0,415421.0,403270.0,331381.0,337577.0,289047.0,295991.0,128453.0,NaN
23,LV,466661.0,430490.0,531114.0,645712.0,714785.0,762727.0,832797.0,830846.0,735252.0,704406.0,549704.0,581232.0,NaN,NaN,NaN,NaN
24,ME,83825.0,75255.0,97252.0,145992.0,213117.0,354638.0,442740.0,468752.0,371511.0,189806.0,106375.0,103538.0,NaN,NaN,NaN,NaN
25,MK,152125.0,137664.0,164318.0,194181.0,194449.0,214085.0,241567.0,263652.0,231959.0,212746.0,170261.0,176320.0,163967.0,147533.0,71617.0,NaN
26,MT,366016.0,359555.0,477533.0,653179.0,675499.0,723180.0,800221.0,824393.0,763013.0,704147.0,493727.0,477894.0,418579.0,422129.0,169584.0,2355.0
27,NL,5497148.0,5354368.0,6273861.0,6928629.0,7398305.0,7473051.0,7731539.0,7860616.0,7487661.0,7354994.0,5887064.0,5939626.0,5595988.0,5282224.0,NaN,NaN
28,NO,2717582.0,2790875.0,3230709.0,3161663.0,3449398.0,3922975.0,4110585.0,3801329.0,3724069.0,3631249.0,2991109.0,2816894.0,2749910.0,2825852.0,1399155.0,NaN
29,PL,2869443.0,2825406.0,3207321.0,3600309.0,4169298.0,4644443.0,4984538.0,5042019.0,4729713.0,3349969.0,2799030.0,2765326.0,NaN,NaN,NaN,NaN
30,PT,3144946.0,3073012.0,3887833.0,4859871.0,5116936.0,5392085.0,5799800.0,5910963.0,5474990.0,5047546.0,3666403.0,3633509.0,NaN,NaN,NaN,NaN
31,RO,1441209.0,1350979.0,1517764.0,1711251.0,1869355.0,1992254.0,2178600.0,2261977.0,2076963.0,1895219.0,1613840.0,1636793.0,NaN,NaN,NaN,NaN
32,RS,372364.0,339199.0,398806.0,496653.0,537239.0,631590.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,SE,2571315.0,2514946.0,2941902.0,3068756.0,3409232.0,3684354.0,3714250.0,3583939.0,3468587.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,SI,103134.0,105167.0,133403.0,157992.0,169818.0,188649.0,206772.0,211595.0,171981.0,99229.0,85786.0,85513.0,75472.0,79776.0,36094.0,190.0
35,SK,151315.0,147456.0,169883.0,188971.0,205454.0,296870.0,426021.0,418986.0,311523.0,196702.0,156643.0,169963.0,149333.0,143015.0,45776.0,1375.0
36,UK,17837507.0,17664207.0,20645202.0,23015529.0,25030989.0,26876251.0,28574934.0,29146198.0,26045351.0,24245929.0,18456722.0,19893561.0,17974388.0,17446467.0,NaN,NaN

In [29]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [30]:
def mean_change(row):
    """
    Apply row-wise extrapolation of NA values by taking the previous' columns
    value and multiplying it by the mean chnage taken from a dictionary.
    """
    prev = None
    for c, item in row.iteritems():
        if np.isnan(item) and prev:
            row[c] = row[prev] * (1 + change_map[c])
        prev = c
    return row

In [31]:
df.iloc[:, 1:] = df.iloc[:, 1:].apply(mean_change, axis=1)

We arrive at a complete table, including estimated values.

In [32]:
df[["country_code", "2020-01", "2020-02", "2020-03", "2020-04"]]

   country_code      2020-01      2020-02      2020-03    2020-04
0            AT  2445122.348  2429894.000  1122897.922  28566.735
1            BE  2314212.001  2299798.970  1062778.658  27037.289
2            BG   553361.487   549915.124   254125.715   6465.006
3            CH  4076384.000  3968157.000  1790567.000  45552.362
4            CY   459432.000   446049.000   230760.000   5870.578
5            CZ  1088657.000  1037299.000   444914.000  11318.696
6            DE 14069946.000 13659950.000  6503935.000 265803.000
7            DK  2247098.000  2274056.000   978517.000  24893.657
8            EE   205042.859   203765.841    94163.877   2395.547
9            EL  1743801.608  1732941.122   800823.404  20373.098
10           ES 12788466.916 12708819.687  5872975.206 149409.595
11           07 56992347.310 56637396.040 26173164.060 665850.223
12           20 52125484.330 51800844.133 23938106.034 608989.925
13           28 57166158.429 56810124.655 26252985.074 667880.884
14           FI  1735159.000  1632718.000   808213.000  22138.000
15           FR 10574791.992 10508931.644  4856367.193 123546.896
16           HR   231176.000   224737.000   119489.000   4478.000
17           HU  1204138.000  1144820.000   508702.000  12941.475
18           IE  2286506.184  2272265.706  1050055.039  26713.598
19           IS   395374.000   414840.000   231375.000   5358.000
20           IT  9560312.391  9500770.274  4390477.608 111694.577
21           LT   455142.000   446654.000   202850.000   5160.542
22           LU   289047.000   295991.000   128453.000   3267.869
23           LV   507966.051   504802.412   233278.316   5934.644
24           ME    90486.740    89923.184    41555.128   1057.170
25           MK   163967.000   147533.000    71617.000   1821.950
26           MT   418579.000   422129.000   169584.000   2355.000
27           NL  5595988.000  5282224.000  2441011.152  62099.783
28           NO  2749910.000  2825852.000  1399155.000  35594.767
29           PL  2416748.780  2401697.144  1109867.645  28235.242
30           PT  3175494.840  3155717.694  1458314.165  37099.787
31           RO  1430470.580  1421561.535   656929.271  16712.404
32           RS   317234.317   315258.565   145686.679   3706.297
33           SE  1782932.431  1771828.236   818793.842  20830.270
34           SI    75472.000    79776.000    36094.000    190.000
35           SK   149333.000   143015.000    45776.000   1375.000
36           UK 17974388.000 17446467.000  8062327.631 205107.133